# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folder
Myenv/

# Ignore Django migrations except for initial ones if you want
*/migrations/*.pyc
*/migrations/__pycache__/

# Ignore database file if using sqlite
db.sqlite3

# Ignore IDE/editor settings (optional)
.vscode/
.idea/
